<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Your Server</h3>

  <ion-item-group>
    <ion-item-divider color="light">Carrier Ip (for Hotspot connection)</ion-item-divider>
    <ion-item>{{ carrierIp }}</ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="light">Device Ip</ion-item-divider>
    <ion-item>{{ deviceIp }}</ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="light">Port</ion-item-divider>
    <ion-item>{{ port }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Server Status</ion-item-divider>
    <ion-item>{{ serverStatus }}</ion-item>
  </ion-item-group>

</ion-content>
